* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Segoe UI';
}

body {
    display: flex;
    /* justify-content: space-between; */
}

.right-sided {
    width: auto;
    margin-left: 12vw;
    transition: all 0.3s;
}

#menuBotao {
    position: absolute;
    z-index: 2;
    display: none;
    color: white;
    font-size: 3em;
}

.sideBar {
    background-color:#141466;
    border-right: 1px solid white;
    width: 12vw;
    height: 100vh;
    position: fixed;
    transition: all 0.3s;
    z-index: 1;
}

#menuTopo {
    height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.menu ul:not(.social-networks) {
    list-style-type: none;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.menu ul.social-networks {
    display: flex;
    width: 100%;
}

.menu li a, .menu li a span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: all 0.3s;
}

.menu li a i {
    color: white;
    font-size: 1.5em;
}

#openCloseButton {
    color: white;
    font-size: 2em;
    align-self: flex-end;
    padding: 20px 15px 0 0;
}

.menu li a > * {
    margin: 0 10px;
}

.menu li {
    transition: all 0.3s;
    display: flex;
    justify-content: center;
}

.menu li:hover{
    transform: scale(1.2);
}

.redes-sociais {
    display: flex;
    flex: 1;
    max-width: 200px;
    align-items: center;
    justify-content: space-between;
}

.redes-sociais-item {
    height: 40px;
    /* padding: 6px 23px; */
    width: 40px;
}

#banner {
    height: 100vh;
    background-image: url("../img/computer-coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner p {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.me {
    text-align: center;
}

#MySkillsAndAboutMe {
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid black;
}

#aboutMe {
    flex: 1;
    /* background-color: #2424BA; */
        background-color: #262626;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

#aboutMe p {
    font-size: 1.4em;
    color: white;
}

.my-photo img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid black;
}

#mySkills {
    flex: 1;
    background-color: #141466;
    border-left: 10px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-skills-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-skills-item h3 {
    color: white;
    font-weight: 300;
}

.my-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.my-justify {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.sticker-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticker-area li {
    margin-top: 30px;
}

.my-exp-date {
    width: 90%;
    border-bottom: 1px solid black;
    display: flex;
}

.my-exp-date li {
    list-style-type: none;
}

.my-exp-date a {
    transition: all 0.3s;
}

.my-exp-date a:hover {
    box-shadow: 4px 4px 4px #aaa;
    transition: all 0.3s;
}

.blue-arrow {
    background-image: url("../img/blue-arrow.png");
    width: 171px;
    height: 59px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.my-studies {
    background-image: url("../img/laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} /* classe para estilizar a secao da 'minha formacao' */

#contact {
    background-color: #141466;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.e-mail {
    font-size: 1.8em;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.e-mail:hover {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    transform: scale(1.2);
 }

/* Backgrounds e estilizacao de botoes */
.pinterest {
    background-image: url("../img/pinterest-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.pinterest-checkpoint {
    background-size: cover;
    background-image: url("../img/checkpoint.jpg");
}

.github-hardtest {
    background-size: contain;
    background-image: url("../img/hardtest.jpg");
}

.github {
    background-repeat: no-repeat;
    background-image: url("../img/github-icon.png");
    background-size: contain;
}

.linkedin {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/linkedin-icon.png");
}

.branco {
    color: white;
}

.preto {
    color: black;
}

.bg-black {
    background-color: black;
    transition: all 0.3s;
}

.img-link-space {
    padding: 90px 0;
}

.img-link {
    padding: 86px 177px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #ccc;
}

.bord-white {
    border-color: white;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 500;
}

.retrair {
    width: 3vw !important;
}

.esconder {
    display: none !important;
}

.expandir {
    margin-left: 3vw !important;
}

/* Animations */

@keyframes zoomOut {
    0% {
        filter: opacity(30%);
        transform: scale(2);
    }

    100% {
        filter: opacity(100%);
        transform: scale(1);
    }
}

.zoom-out {
    animation: zoomOut 2s;
    /* animation-iteration-count: initial; */
}

/* Tipografia */

.fa-bars {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h1 {
    font-size: 8em;
    font-weight: 400;
    color: white;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.75rem;
}

span {
    font-size: 2em;
    font-weight: 300;
}

/* Margins e paddings */
.ma-top-g {
    margin-top: 40px;
}

.ma-top-m {
    margin-top: 20px;
}

.ma-top-p {
    margin-top: 10px;
}

.ma-bottom-m {
    margin-bottom: 20px;
}

.pa-all-g {
    padding: 40px;
}

/* Progression Circle Bar */

.progress-bar1 {
    position: relative;
    height: 100px;
    width: 100px;
    margin:0 auto;
  }
   
  .progress-bar1 div {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
   
  .progress-bar1 div span {
    position: absolute;
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 25px;
    line-height: 75px;
    height: 75px;
    width: 75px;
    left: 12.5px;
    top: 12.5px;
    text-align: center;
    border-radius: 50%;
    background-color: #141466;
    color: white;
  }

  .progress-bar1 .background { background-color: #b3cef6; }
   
  .progress-bar1 .rotate {
    clip: rect(0 50px 100px 0);
    background-color: #4b86db;
  }
   
  .progress-bar1 .left {
    clip: rect(0 50px 100px 0);
    opacity: 1;
    background-color: #b3cef6;
  }
   
  .progress-bar1 .right {
    clip: rect(0 50px 100px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #4b86db;
  }
   
  @keyframes
  toggle {  0% {
   opacity: 0;
  }
   100% {
   opacity: 1;
  }
  }

  @media screen and (max-width: 910px) {

    #openCloseButton {
        display: none;
    }
    
    body {
        display: unset;
        justify-content: unset;
    }

    .right-sided {
        margin-left: unset;
    }

    .escondido-responsive {
        display: none !important;
    }
    
    /* nav.escondido {
        display: none !important;
    } */
    
    #menuBotao {
        right: 0;
        margin-top: 0.5em;
        margin-right: 0.5em;
    }

    .sideBar {
        height: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75 );
    }

    #menuBotao {
          display: unset;
    }

    /* .menu ul {
          flex-direction: column;
    } */

    .menu li {
          margin-top: 32px;
    }

    .menu li:not(.redes-sociais) a:hover{
        border-radius: 15px;
    }

    #aboutMe {
        max-width: unset;
    }

    /* banner */
    h1 {
        font-size: 6em;
    }

    #banner p {
        font-size: 1.5em;
    }

    #MySkillsAndAboutMe {
        flex-direction: column;
        border: none;
    }

    #mySkills {
        border: none;
    }

    .my-exp-date {
        flex-direction: column;
        align-items: center;
    }

    .my-exp-date li {
        text-align: center;
    }

    .blue-arrow {
        margin-top: 20px;
    }
  }

@media screen and (max-width: 500px) {
    /* banner */
    h1 {
        font-size: 3.5em;
    }

    #banner p {
        font-size: 1.2em;
    }

    .img-link {
        padding: 86px 105px;
    }
}